.container{
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 1px solid black;

    .square {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    
        img {
            max-width: 100%;
            max-height: 100%;
        }
}
}